@import "~bootstrap/dist/css/bootstrap.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(assets/blue.jpeg);
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}